<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>body</th>
    </tr>
    <% data.forEach(function (element) { %>
    <tr>
      <td><%= element.title %></td>
      <td><%= element.summary %></td>
      <td><%= element.body %></td>
    </tr>
<% }) %>

  </table>
</body>
</html>